SECRET_KEY=django-insecure-3s&*z5h-kqb33w26=z_wiji^^b*roertlu_^lqo0a0@u9lmfwx
DEBUG=False
ALLOWED_HOSTS=agrotech-yzl4.onrender.com,127.0.0.1,localhost

# Database URL for PostgreSQL migration (uncomment and configure in production)
# DATABASE_URL=postgres://agrotech:postgres@db:5432/agrotech

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
ADMIN_NOTIFICATION_EMAIL=
